@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.loader-screen{
     height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    height: 200px;
    width: 200px;
    border: 12px solid #ccc;
    border-radius: 50%;
    border-right-color: #7a1250;
    animation: circle 1s ease infinite
}
@keyframes circle {
    100%{
        transform: rotate(360deg);
    }
}

.error{
    display: none;
    position: relative;
    background: #7a1250;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.error::after{
    content: "";
    transform: rotate(88deg);
    position: absolute;
    bottom: 28px;
    left: 0px;
    border-width: 15px 11px 0;
    border-style: solid;
    border-color: #c1288e transparent transparent transparent;
}

header{
    height: 70px;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
}

header h1 span{
    color: #c1288e;
}
