@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins' ;
}

body{
    width: 100vw;
    height: 100vh;
    background: url(/img/6542-photo-1620641788421-7a1c342ea42e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loader-screen{
     height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    height: 200px;
    width: 200px;
    border: 12px solid #ccc;
    border-radius: 50%;
    border-right-color: #7a1250;
    animation: circle 1s ease infinite
}
@keyframes circle {
    100%{
        transform: rotate(360deg);
    }
}

header{
    height: 70px;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
}

header h1 span{
    color: rgb(251, 255, 0);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}


.card-container{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 500px;
    background-color: #fff;
    border-radius: 30px;
    padding: 45px 35px 0px 35px;
}
form{
    width: 100%;
}
form label{
    font-weight: bold;
    color: #4d4d4d;
}

input{
    display: inline-block;
    width:100%;
    margin-top: 10px;
    background-color: #ccc;
    outline: 0;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: 0.5s ease;
}
input:hover{
    background-color: #bbb;
}

input:focus{
    border: solid 2px #160038;
}

.error{
    display: none;
    position: relative;
    background: #7a1250;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.error::after{
    content: "";
    transform: rotate(88deg);
    position: absolute;
    bottom: 28px;
    left: 0px;
    border-width: 15px 11px 0;
    border-style: solid;
    border-color: #7a1250 transparent transparent transparent;
}

.email-login{
    margin-bottom: 10px;
}
button{
    cursor: pointer;
}
button[disabled] {
    opacity: 0.5;
}
.all-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#forgot-password{
    display:inline-block;
    width: auto;
    color: #4d4d4d;
    border: none;
    text-decoration: underline;
    font-weight: 800;
    margin-top: 10px;
}

#forgot-password:hover{
    color: #000;
}

#login{
    border-radius: 50px;
    color: #160038;
    background-color: transparent;
    border: solid 2px #160038;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0px 10px 0px;
    transition: ease 0.5s;
}

#login:hover{
    background-color: #160038;
    color: #fff;
    box-shadow: 0px 0px 6px #000;
}

.Register{
    color: #4d4d4d;
    border: none;
    font-weight: 800;
    font-size: 1rem;
}
.Register span:hover{
    color: blue;
}

.Register span{
    color: black;
    text-decoration: underline;
}

.Register .ou{
    text-decoration: none;
    color: #4d4d4d;
}

.Register-face{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    background-color: #ccc;
}

.Register-face:hover{
    background-color: #bbb;
}

.Register-face i {
    font-size: 2rem;
    margin-right: 15px;
    color: blue;
}