@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins' ;
}

body{
    width: 100vw;
    height: 100vh;
    background: url(../img/6542-photo-1620641788421-7a1c342ea42e.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    height: 70px;
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
}

header h1 span{
    color: rgb(251, 255, 0);
}


.container{
    width: 100%;
    display: flex;
    justify-content: center;
}


.card-container{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 500px;
    background-color: #fff;
    border-radius: 30px;
    padding: 45px 35px 0px 35px;
}

form{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
}


#confirmPassword{
    grid-column: 1/3;
}
form label{
    font-weight: bold;
    color: #4d4d4d;
}

input{
    width:100%;
    margin-top: 10px;
    background-color: #ccc;
    outline: 0;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: 0.5s ease;
}
input:hover{
    background-color: #bbb;
}

input:focus{
    border: solid 2px #160038;
}
#register-button{
    border-radius: 50px;
    color: #160038;
    background-color: transparent;
    border: solid 2px #160038;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: ease 0.5s;
}

#register-button:hover{
    background-color: #160038;
    color: #fff;
    box-shadow: 0px 0px 6px #000;
}

button{
    cursor: pointer;
}
button[disabled] {
    opacity: 0.5;
}
.all-buttons{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}


